!!! 5
%html
  %head
    %title= content_for(:title) || "Shop App"
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1" }
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }
    = csrf_meta_tags
    = csp_meta_tag

    = yield :head

    %link{ rel: "manifest", href: "/manifest.json" }
    %link{ rel: "icon", href: "/icon.png", type: "image/png" }
    %link{ rel: "icon", href: "/icon.svg", type: "image/svg+xml" }
    %link{ rel: "apple-touch-icon", href: "/icon.png" }
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", type: "module"

  %body.bg-gray-50.text-gray-900
    - if notice
      %div.bg-green-100.text-green-800.p-4.rounded.mb-4= notice
    - if alert
      %div.bg-red-100.text-red-800.p-4.rounded.mb-4= alert

    = yield
    %footer
      %p
        &copy; 2025 Shop App
        | 
        %a{ href: "https://github.com/rolandoalvarado/shop_app" } GitHub Repository